<body style='background-color:black'>
	<script src='Guitar.js'></script>
	<canvas id='canvas' style='border:1px solid black;'></canvas>
	<script>
		var canvas=document.getElementById('canvas');
		canvas.width=1905;
		canvas.height=949;
		ctx=canvas.getContext('2d');
		ctx.fillRect(0,0,1905,949);
		guitar.dibIni(ctx,500,300,900*.5,100*.5,200,600,900,100);
		guitar.dib(ctx,500,300,900*.5,100*.5,200,600,900,100);
	</script>
</body>