<body>
	<script>
		function osx(){
			document.forms[0].action+='&r='+document.getElementsByName('r')[0].value;
		}
	</script>
	<form action="d?o=s&y=1520976282951" method="post" enctype="multipart/form-data">
		<input name="r" value="">
		<input type="file" name="archivo">
		<input type="submit" onclick="osx(this)" value="OK">
	</form>
</body>