<body style='overflow:hidden;background-color:black' onkeyup='boku(event,this);' onmouseover='bomm()'>
	<!--audio controls id='audio'>
		<source src="Sintetizador.ogg" type="audio/mpeg">
	</audio-->
	<span id='dinfo' style="display:none;position:absolute;left:0px;top:0px;z-index:9999999;color:white"></span>
	<span id='dtotal' style="display:none;position:absolute;left:0px;top:0px;z-index:9999997;background-color:gray" onclick='repos(event,this)'></span>
	<span id='dprogre' style="display:none;position:absolute;left:0px;top:0px;z-index:9999998;background-color:white" onclick='repos(event,this)'></span>
	<div id='dcontrol' style="display:none;position:absolute;left:0px;top:0px;z-index:9999996">
		<input type="button" onclick="C.play(true);" value="P">
		<input type="button" onclick="C.stop(true);" value="S">
		<input type="button" onclick="C.addTime(1000,true);" value=">">
		<input type="button" onclick="C.addTime(-1000,true);" value="<">
		<input type="button" onclick="C.addRate(0.05,true);" value="^">
		<input type="button" onclick="C.addRate(-0.05,true);" value="v">
		<input type="text" id='res'>
	</div>
	<canvas id='canvas'></canvas>
	<script src='Rem.js'></script>
	<script src='H5.js'></script>
	<script src='Track.js'></script>
	<script src='Evento.js'></script>
	<script src='Manager.js'></script>
	<script src='Render.js'></script>
	<script src='Control.js'></script>
	<script src='Actual.js'></script>
	<script src='Pia.js'></script>
	<script src='Guitar.js'></script>
	<script>
		controlVisible=false;
		dinfo.v=false;
		function repos(e){
			C.setPos(e.clientX/R.w,true);
		}
		function ocultar(e){
			clearInterval(e.s);
			e.s=setTimeout(
				function(){
					e.style.display="none";
					e.v=false;
				},1000
			)
		}
		function bomm(){
			dtotal.style.display="";
			dprogre.style.display="";
			ocultar(dtotal);
			ocultar(dprogre);
		}
		function boku(e,body){
			if(e.keyCode==13){
				if(controlVisible){
					controlVisible=false;
					dcontrol.style.display="none";
				}else{
					controlVisible=true;
					dcontrol.style.display="";
				}
			}
			if(e.keyCode==32){
				if(C.std==1){
					C.stop(true);
				}else{
					C.play(true);
				}
			}
			if(e.keyCode==37){
				C.addTime(-500,true);
				dinfo.style.display="";
				dinfo.innerHTML=Math.round(C.getPos()*100)+"% "+C.p;
				ocultar(dinfo);

			}
			if(e.keyCode==39){
				C.addTime(500,true);
				dinfo.style.display="";
				dinfo.innerHTML=Math.round(C.getPos()*100)+"% "+C.p;
				ocultar(dinfo);
			}
			if(e.keyCode==40){
				C.addRate(-0.05);
				dinfo.style.display="";
				dinfo.innerHTML=Math.round(C.r*100)+"%";
				ocultar(dinfo);
			}
			if(e.keyCode==38){
				C.addRate(0.05);
				dinfo.style.display="";
				dinfo.innerHTML=Math.round(C.r*100)+"%";
				ocultar(dinfo);
			}
			if(e.keyCode==33){
				if(tv>=1000){
					tv=tv-500;
				}
			}
			if(e.keyCode==34){
				if(tv<=30000){
					tv=tv+500;
				}
			}
		}

		tv=5000;
		mg=1000;

		function update(){
			var t=C.getTime(true);
			if(C.getPos()>=0&&C.getPos()<=100){
				dprogre.style.width=C.getPos()*R.w;
			}
			document.getElementById('res').value=C.r+":"+Math.round(t);

			if(t<act||t>nl){
				act=t;
				nl=act+tv+mg;
				tr=M.get(act,nl);
			}else{
				if(nl-t<tv+mg){
					nl=nl+mg;
					tr=M.get(act,nl);
				}
			}
			R.add(tr);
			R.u(t,tv);
		}
act=0;
nl=0;
		M=new Manager(1000);
		R=new Render(M,1905,949);
		C=new Control(new Rem());
		C.setTime(-3000,true);
		for(var i=0;i<evs.length;i++){
			M.add(evs[i]);
		}
		R.mostrar('blue','black');
		C.tmx=M.tmx;
		dtotal.style.height='10px';
		dprogre.style.height='10px';
		dtotal.style.width=R.w;
		setInterval(update,1);
	</script>
</body>