<body>
	<canvas></canvas>
	<script>
		w=1024;
		h=738;
		xo=w/2;
		yo=h/2;
		ctx=document.getElementsByTagName('canvas')[0];
		ctx.width=w;
		ctx.height=h;
		ctx=ctx.getContext('2d');
		function C(x1,y1,x2,y2,ti,tf,zi,zf,c){
			this.x1=x1;
			this.y1=y1;
			this.x2=x2;
			this.y2=y2;
			this.ti=ti;
			this.zi=zi;
			this.tf=tf;
			this.zf=zf;
			this.c=c;
			this.dib=function(){
				if(this.ti<=t&&this.tf>t&&this.zi>1){
					var z=(this.zf-this.zi)*(t-this.ti)/(this.tf-this.ti)+this.zi;
					var x1k=(this.x1/z)+xo;
					var y1k=(this.y1/z)+yo;
					var x2k=(this.x2/z)+xo;
					var y2k=(this.y2/z)+yo;
					//alert(x1k);
					ctx.strokeStyle=this.c;
					ctx.strokeRect(x1k,y1k,x2k-x1k,y2k-y1k);
				}
			}
		}
		var t=0;
		cs=[];
		function act(){
			clear();
			for(var i=0;i<cs.length;i++){
				cs[i].dib();
			}
		}
		function clear(){
			ctx.clearRect(0,0,w,h);
		}
		cs.push(new C(-200,-200,-100,-100,1,5,10,1,'red'));
		cs.push(new C(-200,-200,-100,-100,1,5,1.1,1,'red'));
		cs.push(new C(100,-200,200,-100,1.2,5.2,10,1,'blue'));
		cs.push(new C(100,-200,200,-100,1.2,5.2,1.1,1,'blue'));
		cs.push(new C(-200,200,-100,100,1.4,5.4,10,1,'yellow'));
		cs.push(new C(-200,200,-100,100,1.4,5.4,1.1,1,'yellow'));
		cs.push(new C(100,100,200,200,1.6,5.6,10,1,'green'));
		cs.push(new C(100,100,200,200,1.6,5.6,1.1,1,'green'));
		/*for(t=0;t<10;t++){
			act();
			alert(t);
		}*/
		tini=(new Date()).getTime();
		setInterval(
			function(){
				t=((new Date()).getTime()-tini)/1000;
				act();
			}
		,1);
	</script>
</body>